# Documentation page information
site_name: SparkFun Product Documentation
site_description: A landing page to find the latest SparkFun hookup guides
site_url: https://docs.sparkfun.com/
site_author: SparkFun Electronics

repo_url: https://github.com/santaimpersonator/landing-mkdocs
repo_name: santaimpersonator/landing-mkdocs

copyright:
  Copyright 2025 - <a href="https://www.sparkfun.com/" target="_blank" rel="noopener">SparkFun Electronics&#174;</a><br>
  <a href="https://goo.gl/maps/vkstCpQZW6jZMjzYA" target="_blank" rel="noopener">6333 Dry Creek Parkway, Niwot, Colorado 80503</a>

# Default edit/view actions to "main" branch, instead of "master"
edit_uri: blob/main/docs/


# Configuration for webpage theme
theme:
  # Theme: https://squidfunk.github.io/mkdocs-material/
  name: material
  custom_dir: overrides # Personalized changes to the theme

  # Icon in Browser Tab (must be a square image - i.e. 32x32 pixels)
  favicon: assets/img/sfe-logo.png

  # Page Font
  font:
    text: Roboto
    code: Roboto Mono


  # Features to Include (ref. theme documentation)
  features:
    # Enable tooltips (pop-open dialog boxes)
    - content.tooltips

    # Enables anchor tracking (updates page URL with the section the user is on)
    # i.e. https://docs.sparkfun.com/<page link>/#<sub-section>
    - navigation.tracking

    # Adds pop-up button just below the header (when the user starts to scroll up)
    # i.e. Allows users to easily jump to the beginning of the page
    - navigation.top

    # Highlights all occurrences of a search result when clicked on
    - search.highlight

    # Enables the dismissal of announcement bar
    - announce.dismiss


  # Adds light/dark theme to the webpage
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      primary: grey
      accent: red
      toggle:
        icon: material/brightness-auto
        name: Switch to dark mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: grey
      accent: red
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to system preference

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: grey
      accent: red
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode


  # Configures icons
  icon:
    # Sets homepage icon
    logo: sfe

    # Sets repo icon to GitHub icon
    repo: fontawesome/brands/github

    # Sets icons for "view source" (commented out) and "edit this page" buttons
    edit: material/file-document-edit-outline
    # view: material/file-code-outline

    # Admonition Icons (callout boxes)
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: simple/sparkfun
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      quote: octicons/quote-16
      # Add custom admonitions
      github: simple/github
      arduino: simple/arduino
      rpi: simple/raspberrypi
      python: simple/python
      code: fontawesome/regular/file-code
      terminal: octicons/terminal-16
      serial: fontawesome/solid/display
      hot: material/fire-alert
      # Permalink icon
      link: octicons/link-16


# Included MkDocs plugins
# Add the installation of any new plugins to the ./github/workflows/mkdocs.yml file also
plugins:
  # Default search plugin
  - search

  # Allows formatting (code block, icons, etc.) in headings and titles
  - typeset

  # Enables improved security for external links
  - privacy:
      # Disables plugin on local builds
      enabled: !ENV [CI, false]

      # Disables cache mechanism, so that external assets can be updated during rebuilds
      cache: false

      # # Allows for external assets to be used
      # assets: true
      # assets_fetch: true

      # Provide domains for assets that are retrieved from external sites
      # assets_include:
      #   - https://docs.sparkfun.com/

      # assets_fetch_dir: /docs

      # External links open in a new tab
      links_attr_map:
        target: _blank
      links_noopener: true

  # Optimizes media files (*.png and *.jpg)
  - optimize:
      # Disables plugin on local builds
      enabled: !ENV [CI, false]

      # Specify directory; otherwise, multiple instances are created (.cache/plugins and .cache/plugin)
      cache_dir: .cache/plugins/optimize

      # Default values (from auto-complete)
      # ------------------------------
      # enabled: true
      # cache: true
      # cache_dir: .cache/plugins/optimize
      # optimize_png: true
      # optimize_png_speed: 4
      # optimize_png_strip: true
      # optimize_jpg: true
      # optimize_jpg_quality: 60
      # optimize_jpg_progressive: true
      # print_gain: true
      # print_gain_summary: true


  # Add revision date
  - git-revision-date-localized:
      # Disables plugin on local builds
      enabled: !ENV [CI, false]

      enable_creation_date: true
      type: timeago

  # Enables use of Git submodules and larger code base
  - monorepo:


# Included Markdown extensions
markdown_extensions:
  # Adds support for syntax highlighting of code blocks
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true

  # Adds support for syntax highlighting of inline code blocks
  - pymdownx.inlinehilite

  # Adds the ability to embed content from arbitrary files
  - pymdownx.snippets:
      base_path: ['.', './docs']
      url_download: true
      url_max_size: 0
      url_timeout: 0
      url_request_headers: {}
      dedent_subsections: True

      # Adds support for a glossary of abbreviations
      auto_append:
        # - https://raw.githubusercontent.com/santaimpersonator/git-test/main/glossary-sparkfun.md
        # - glossary-sparkfun.md
        # - glossary-local.md

  # Allows embedding of code blocks in other elements
  - pymdownx.superfences

  # Allows the use of tabs in the document
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower

  # Allows the use of Markup syntax
  - pymdownx.betterem:
      smart_enable: all

  # Allows the use of in-text highlighting in Markdown syntax
  - pymdownx.mark
  - pymdownx.critic

  # Allows the use of superscript/subscript formatting in Markdown syntax
  - pymdownx.caret

  # Allows the use of strikeout formatting in Markdown syntax
  - pymdownx.tilde

  # Allows the use of keyboard button formatting in Markdown syntax
  - pymdownx.keys

  # Allows the use of admonition/call-out boxes
  - admonition

  # Allows admonition extension to collapse the call-out boxes
  - pymdownx.details

  # Allows the use of Markdown syntax in HTML elements
  - md_in_html

  # Allows the use of HTML syntax in Markdown elements
  - attr_list

  # Allows the use of footnotes
  - footnotes

  # Allows the use of abbreviations
  - abbr

  # Allows the use of bundled and custom icons and emojis
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons


extra:
  # Configures the hyperlink for the logo in the header
  # homepage: index.md

  # Configures how the "Made w/ Material for MkDocs" attribution is displayed in the footer
  # Options: true (defaults to left-side), false, or right
  generator: right

  # Configures social icons in the footer
  social:
    - icon: sfe
      link: https://www.sparkfun.com/
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/sparkfun
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/sparkfun
    - icon: fontawesome/brands/github
      link: https://www.github.com/sparkfun
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/SparkFun
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/sparkfun
    - icon: simple/discourse
      link: https://community.sparkfun.com/

  # Configures Google Analytics
  analytics:
    provider: google
    property: G-7Y7EYCZVC1

  consent:
    cookies:
      analytics:
        name: Google Analytics
        checked: true
    title: Cookie consent
    description:
      We use cookies to recognize your repeated visits and preferences, as well as to measure the effectiveness of our documentation and whether users find what they're searching for. With your consent, you're helping us to make our documentation better.
    actions:
      - accept
      - manage
      - reject


# Configures styling for the webpage
extra_css:
  # SparkFun Customizations
  - stylesheet/extra.css

  # Enables support for KaTeX
  # Leave disabled - causes issue when listing prices
  # - https://unpkg.com/katex@0/dist/katex.min.css


# Enables support for rendering block and inline block equations through MathJax and KaTeX
extra_javascript:
  # Enables query support
  - https://code.jquery.com/jquery-3.6.0.min.js

  # Lists Tutorials
  - javascript/list_tutorials.js

# Configures webpage navigation

# Excludes README.md files from being built as webpages
exclude_docs: |
  README.md

# Pages that are built, but not in the navigation menu
# not_in_nav: |
#   index.md
#   favicon.ico

# Webpage navigation menu
nav:
  - index.md
